<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="../views/header :: head"></head>
<body>
<div class="wrapper">
    <div th:replace="../views/header :: navigation"></div>
    <div class="menu">
        <div class="menu__head">
            <h2 th:text="|#{add} #{categories}|"></h2>
        </div>
        <div class="menu__content">
            <div class="content__add-form">
                <form action="/categories/add" method="post" th:object="${category}">
                    <div class="form__field">
                        <label for="name" th:text="#{model.name}"></label>
                        <input id="name" type="text" th:field="${category.name}">
                        <span th:if="${#fields.hasErrors('name')}">
                            <span th:each="err: ${#fields.errors('name')}" th:text="${err}"
                                  class="text-danger">
                            </span>
                        </span>
                    </div>
                    <div class="form__field">
                        <label for="parentCategory" th:text="#{model.parentCategory}"></label>
                        <select id="parentCategory" th:field="*{parentCategory}">
                            <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                        </select>
                    </div>
                    <button class="form__submit-button" type="submit" th:text="#{forms.submit}"></button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>