<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="../views/header :: head"/>
<body>
<div class="wrapper">
    <div th:replace="../views/header :: navigation"></div>
    <div class="menu">
        <div class="menu__head">
            <h1 th:text=" #{products}"></h1>
        </div>
        <div id="menu__content" class="menu__content">
            <div id="finance-circle">
            </div>
        </div>
    </div>
</div>
<script th:src="@{/resources/js/bundle.js}" defer></script>
</body>