<!DOCTYPE html>
<html lang="en"
      xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="../views/header :: head"></head>
<body>
<div class="wrapper">
    <div th:replace="../views/header :: navigation"></div>
    <div class="menu">
        <div class="menu__head">
            <h2 th:text=" #{model.subscription}"></h2>
            <div th:replace="home :: head-profile"/>
        </div>
        <div class="menu__content">
            <div id="app" class="menu__content__wrapper"></div>
        </div>
    </div>
</div>
</body>